@model Userinfo
@{
    Layout = "~/Views/Shared/_Homeindex.cshtml";
}

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">

                            <option>$ USD</option>

                        </select>
                    </div>
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> @ViewBag.phone</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a asp-action="UserProfile" asp-controller="Home"><i class="fa fa-user s_color"></i> My Account</a></li>

                            <li><a asp-action="contactus" asp-controller="Home"><i class="fas fa-headset"></i> Contact Us</a></li>
                            <li><a asp-action="UserIndex" asp-controller="Home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">
                        <div class="login-box">

                            <a asp-action="logout" asp-controller="Home" class="btn hvr-hover" style="color:white">LOG-OUT</a>
                        </div>


                    </div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i>@ViewBag.one
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i>@ViewBag.two
                                </li>

                                <li>
                                    <i class="fab fa-opencart"></i>@ViewBag.three
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <!-- End Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <img src=@Url.Content("~/img/" + @ViewBag.logo)
                         asp-append-version="true" class="logo" width="230px" height="160px" alt="" />
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" asp-action="UserIndex" asp-controller="Home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="aboutususer" asp-controller="Home">About Us</a></li>

                    <li class="nav-item"><a class="nav-link" asp-action="searchrecipe" asp-controller="Home">Recipes</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                        <ul class="dropdown-menu">
                            
                            <li><a asp-action="WhishIndex" asp-controller="Home" asp-route-id="@Model.UserId">Wishlist</a></li>
                            <li><a asp-action="testimonal" asp-controller="Home">Testimonal</a></li>
                            <li><a asp-action="userorder" asp-controller="Home"> My Order</a></li>
                            



                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="#category">Recipe Category</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="contactus" asp-controller="Home">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <i class="fa fa-user s_color ">@Model.Firstname @Model.Lastname</i>
                




            </div>
            <!-- End Atribute Navigation -->
        </div>

    </nav>
    <!-- End Navigation -->
</header>
<!-- Start Slider -->

    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            @foreach (var item in @ViewBag.img)
            {
                if (@item.PageId == 9 || @item.PageId == 14 || @item.PageId == 23)
                {
                    <li class="text-center">
                        <img src=@Url.Content("~/img/" + @item.Imglogo)
                             asp-append-version="true" width="230px" height="160px" alt="" />
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>@ViewBag.des</strong></h1>
                                    <p class="m-b-40">Discover our recipe for differant chef <br> around all the world </p>
                                    <p><a class="btn hvr-hover" asp-action="searchrecipe">Discover Now </a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }


        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
<!-- End Slider -->
<!-- Start Categories  -->
<h1 style="text-align:
center; margin:30px" id="category">
    Recipe Category
</h1>
<div class="categories-shop" >
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.category)
            {
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="shop-cat-box" data-aos="fade-right">
                        <img class="img-fluid " src=@Url.Content("~/Images/" + @item.CatImg)
                                       asp-append-version="true"  class="img-fluid" style="width: 400px; height:200px;"  />

                        <a class="btn hvr-hover"  asp-action="getrecipebycategory" asp-route-id="@item.CatId">@item.CatName recipe </a>
                        
                </div>
            </div>
            }
          
           
        </div>
    </div>
</div>
<!-- End Categories -->

    <div class="box-add-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up-right">
                    <div class="offer-box-products">
                        <img src=@Url.Content("~/img/" + @ViewBag.rc)
                             asp-append-version="true" class="img-fluid" width="600px" height="500px" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up-left">
                    <div class="offer-box-products">
                        <img src=@Url.Content("~/img/" + @ViewBag.cr)
                             asp-append-version="true" class="img-fluid" width="600px" height="500px" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Start Products  -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>  Recipe Food </h1>
                    <p>The most important famous recipes with a delicious taste from various skilled chefs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">Show Recipe</button>
                        
                        <button data-filter=".best-seller">Hide Recipe</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            @foreach (var item in ViewBag.recipe)
            {
                    <div class="col-lg-3 col-md-6 special-grid top-featured" data-aos="flip-left" data-aos-duration="10000">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img class="img-fluid " src=@Url.Content("~/Images/" + @item.Image)
                                 asp-append-version="true" class=" img-fluid" style="width: 400px; height:250px" />
                            <div class="mask-icon">
                                <ul>
                                    <li><a asp-action="ViewRecipes" asp-route-id="@item.RecId" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>

                                    <li><a asp-action="Addwishlist" asp-route-id="@item.RecId" asp-controller="Home" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="why-text">
                            <h4>@item.Name</h4>
                            <h5> $@item.Price</h5>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>
<!-- End Products  -->
<!-- chef section -->

<!-- End Products  -->

<!-- chef section -->
<div class="row my-4">
    <div class="col-12">
        <h2 class="noo-sh-title " style="text-align:center;">Meet Our Chef</h2>
    </div>
    @foreach (var item in ViewBag.chef)
    {

            <div class="col-sm-6 col-lg-3" >
            <div class="hover-team">
                    <div class="our-team" data-aos="fade-down"
                         data-aos-easing="linear"
                         data-aos-duration="1500">
                    <img src=@Url.Content("~/Images/" + @item.ImagePath)
                         asp-append-version="true" img-fluid" style="width: 400px; height:400px" />
                    <div class="team-content">
                        <h3 class="title">@item.Firstname @item.Lastname</h3> <span class="post">@item.Email</span>
                    </div>
                    <ul class="social">
                        <li>

                            <a asp-route-id="@item.UserId" asp-action="getrecipebychef" data-toggle="tooltip" data-placement="right" title="View chef Recipe" class="fa fa-plus"></a>
                        </li>
                       
                    </ul>
                    <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                </div>
                <div class="team-description">
                </div>
                <hr class="my-0">
            </div>
        </div>
    }

</div>
<!--End of chef section-->


<!-- Start Instagram Feed--> <div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
            @foreach (var item in ViewBag.category){<div class="item">
            <div class="ins-inner-box">
                    <img class="img-fluid " src=@Url.Content("~/Images/" + @item.CatImg)
                         asp-append-version="true" class="img-fluid" style="width: 400px; height:200px;" />

                <div class="hov-in">
                            <a href="https://www.instagram.com/kvp_911?igsh=MTR6N2Vpa3I3MW0ycg%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>}
        
        
    </div>
</div>
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <img src=@Url.Content("~/img/" + @ViewBag.logo)
                                 asp-append-version="true" class="logo" width="230px" height="160px" alt="" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>SubScribe to email Service</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="Email Address*" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Social Media Accounts</h3>
                            <p></p>
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=61559611088226&mibextid=AEUHqQ"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/atheeradel07"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/kvp_911?igsh=MTR6N2Vpa3I3MW0ycg%3D%3D&utm_source=qr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>


                                <li><a href="https://www.pinterest.com/ronnaca/masterchef/"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About MasterChef</h4>
                            @foreach (var item in @ViewBag.about)
                            {
                                <p>
                                    @item.Aboutusdescription
                                    @item.Trustedinfo
                                    @item.Profinfo
                                    @item.Expertinfo
                                </p>
                            }


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a asp-action="aboutususer" asp-controller="Home">About Us</a></li>


                                <li><a asp-action="termsGust" asp-controller="Home">Terms &amp; Conditions</a></li>
                                <li><a asp-action="privacypolicyGust" asp-controller="Home">Privacy Policy</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>

                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: @ViewBag.add  </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:@ViewBag.phone">@ViewBag.phone</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:@ViewBag.email">@ViewBag.email</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright" style="text-align:center">
        All Rights Reserved. &copy; 2024 <a href="#" style="color:white">MasterChef</a> Design By :
        <a href="https://html.design/" style="color:white">Atheer Adel</a>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    <!-- End Instagram Feed  -->
    <!-- End Instagram Feed  -->
