@model Userinfo
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Welcome @Model.Firstname @Model.Lastname
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        
                        <h4 class="font-weight-normal mb-3">
                            Number of Users <i class="mdi mdi-account-multiple mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@ViewBag.usernum  </h2>
                        <h6 class="card-text"></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-dark card-img-holder text-white">
                    <div class="card-body">
                        
                        <h4 class="font-weight-normal mb-3">
                            Number of Chef <i class="mdi mdi-account-multiple mdi-24px float-end"></i>
                        </h4> 
                        <h2 class="mb-5">@ViewBag.chefnum</h2>
                        <h6 class="card-text"></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        
                        <h4 class="font-weight-normal mb-3" >
                            Number of Recipes <i class="mdi mdi-food mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@ViewBag.recipenum</h2>
                        <h6 class="card-text"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <h4 class="card-title float-start">Recipe Sales and Profit</h4>
                            <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
                        </div>
                        <canvas id="salesChart" style="max-width:400px; max-height:430px"></canvas>

                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recipe sales and NetProfit</h4>
                        <div class="doughnutjs-wrapper d-flex justify-content-center">
                            <canvas id="myChart" style="max-width:400px; max-height:430px"></canvas>
                        </div>
                        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <h4 class="card-title float-start"> Orders and  Recipes    </h4>
                            <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
                        </div>
                        <canvas id="orderandrecipe" style="max-width:400px; max-height:430px"></canvas>

                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <h4 class="card-title float-start"> Number OF Users AND Chef    </h4>
                            <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
                        </div>
                        <canvas id="userandchef" style="max-width:400px; max-height:430px"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Accepted Recipe</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Recipe Name </th>
                                        <th> Category </th>
                                        <th> Status </th>
                                        <th> Price</th>
                                        <th> Belong to Chef </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @ViewBag.recipe){<tr>
                                        <td>
                                                <img src=@Url.Content("~/Images/" + @item.Image)
                                                     asp-append-version="true" width="200px" height="150px" />
                                                     @item.Name
                                        </td>
                                            <td> @item.Cat.CatName </td>
                                        <td>
                                            <label class="badge badge-gradient-success">DONE</label>
                                        </td>
                                            <td> @item.Price$ </td>
                                            <td> @item.User.Firstname-@item.User.Lastname </td>
                                    </tr>}
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body p-0 d-flex">
                        <div id="inline-datepicker" class="datepicker datepicker-custom"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Category Added </h4>
                        <div class="d-flex">
                           <table calss="table">
                               <thead>
                                    <tr>
                                        <td>Category Name</td>
                                        <td>Category Image</td>
                                        <td>Category Description</td>
                                    </tr>
                                   
                               </thead>
                               <tbody>
                                    @foreach (var item in @ViewBag.cat)
                                    {
                                        <tr>
                                            <td>@item.CatName</td>
                                            <td>
                                                <img src=@Url.Content("~/Images/" + item.CatImg)
                                                     asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
                                            </td>
                                            <td>@item.CatDes</td>
                                        </tr>
                                    }
                                </tbody>
                           </table>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Reports Line </h4>
                        <canvas id="salesline" style="max-width:400px; max-height:430px"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-dark">Todo List</h4>
                        <div class="add-items d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
                        </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Meeting with Alisa
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked> Call John
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Create invoice
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Print Statements
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked> Prepare for presentation
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Pick up kids from school
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    
<script>
    // Access chart data passed from controller
    var totalSales = @Html.Raw(Json.Serialize(@ViewBag.totalSales));
    var profit = @Html.Raw(Json.Serialize(@ViewBag.totalCost));
    var netprofit = @Html.Raw(Json.Serialize(@ViewBag.profit));

    // Create chart
    var ctx = document.getElementById('salesChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total Sales', 'Profit', 'Net Profit'],
            datasets: [{
                label: 'Sales Overview',
                data: [@ViewBag.totalSales, @ViewBag.totalCost, @ViewBag.profit],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    // Access chart data passed from controller
    var totalSales = @Html.Raw(Json.Serialize(@ViewBag.totalSales));
    var profit = @Html.Raw(Json.Serialize(@ViewBag.totalCost));

    // Create chart
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Total Sales', 'Profit', 'Net Profit'],
            datasets: [{
                label: 'Sales Overview',
                data: [@ViewBag.totalSales, @ViewBag.totalCost, @ViewBag.profit],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    // Access chart data passed from controller
    var totalSales = @Html.Raw(Json.Serialize(@ViewBag.totalSales));
    var profit = @Html.Raw(Json.Serialize(@ViewBag.totalCost));
    var netprofit = @Html.Raw(Json.Serialize(@ViewBag.profit));

    // Create chart
    var ctx = document.getElementById('salesline').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Total Sales', 'Profit', 'Net Profit'],
            datasets: [{
                label: 'Sales Overview',
                data: [@ViewBag.totalSales, @ViewBag.totalCost, @ViewBag.profit],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
    <!-- content-wrapper ends -->
<script>
    // Access chart data passed from controller
    
    var Orders = @Html.Raw(Json.Serialize(@ViewBag.order));
    var Recipes = @Html.Raw(Json.Serialize(@ViewBag.recipenum));
    var AcceptedRecipes = @Html.Raw(Json.Serialize(@ViewBag.recipenumaccept));
    var RejectedRecipes = @Html.Raw(Json.Serialize(@ViewBag.recipenumreject));
    // Create chart
    var ctx = document.getElementById('orderandrecipe').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Number Of Orders ', ' Number of All Added Recipes', ' Number of all Accepted Recipes','Number of All Rejected Recipes'],
            datasets: [{
                label: 'Sales Overview',
                data: [@ViewBag.order, @ViewBag.recipenum, @ViewBag.recipenumaccept, @ViewBag.recipenumreject],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgb(255, 205, 86,1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgb(255, 205, 86,1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    // Access chart data passed from controller

    var users = @Html.Raw(Json.Serialize(@ViewBag.usernum));
    var chef = @Html.Raw(Json.Serialize(@ViewBag.chefnum));
   
    // Create chart
    var ctx = document.getElementById('userandchef').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Number Of MasterChef Users ', ' Number of MasterChef Chef'],
            datasets: [{
                label: 'Sales Overview',
                data: [@ViewBag.chefnum, @ViewBag.usernum],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                   
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 0.2)',
                   
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>