@model IEnumerable<MVCProject.Models.Userrecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <h1 style="font-family:'Times New Roman', Times, serif">Annual and Monthly Reports</h1>

        @* <form asp-action="reports" asp-controller="Admin">
            <label><h5>Select Month</h5></label>
            <input type="month" name="month" class="form-control-sm m-2" />
            @* <label><h5>Select Month</h5></label>
            <input type="month" name="" class="form-control-sm m-2" /> *@
           @*  <button class="btn btn-md  hvr-hover bg-gradient-primary" type="submit" >Search</button>
        </form> *@
        <form asp-action="reports">
            <label><h5>start Date</h5></label>
            <input type="date" name="startDate" class="form-control-sm m-2" />
            <label><h5>End Date</h5></label>
            <input type="date" name="endDate" class="form-control-sm m-2" />
            <button class="btn btn-md  hvr-hover bg-gradient-primary" type="submit">Search</button>
        </form>
 
        <table class="table" id="example">
            <thead>
                <tr>


                    <th>
                        Recipe Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReqDate)
                    </th>
                    <th>
                        Price
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => item.Rec.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Firstname)- @Html.DisplayFor(modelItem => item.User.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReqDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rec.Price)
                        </td>
                        
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Total Sales:@ViewBag.TotalPrice</th>
                    <th>Total Profit:@ViewBag.Totalsales</th>
                    <th>Tax paid monthly:20</th>
                    <th>Net Profit:@ViewBag.netprofit</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
