@model MVCProject.Models.Aboutu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
<h1>Details</h1>

<div>
    <h4>About us Page</h4>
    <hr />
            <div class="card mb-3">

                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(model => model.ImageFile)
                        <img src=@Url.Content("~/Images/" + Model.Aboutusmainimg)
                             asp-append-version="true" style="border-radius:20%;" width="300px" height="200px" />
                        <br />
                        <p>
                           @Html.DisplayNameFor(model => model.Aboutusdescription) </br>
                            @Html.DisplayFor(model => model.Aboutusdescription)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.Trustedinfo)
                             </br>
                            @Html.DisplayFor(model => model.Trustedinfo)
                        </p>
                    </h5>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Profinfo)
                        <br /> @Html.DisplayFor(model => model.Profinfo)
                    </p>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Expertinfo)
                        <br /> @Html.DisplayFor(model => model.Expertinfo)
                    </p>

                </div>

            </div>
   
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model?.AboutId" class=" btn btn-sm bg-gradient-primary">Edit</a> |
            <a asp-action="Index" class=" btn btn-sm bg-gradient-primary">Back to List</a>
</div>
</div></div>